$box_color: black;
#homepage {
  .splash{
    height: 992px;
    background-color: #222228;
    .intro{
        position: relative;
        top: 10%;
        color: white;
        font-weight: 100;
        font-size: 3em;
      .name{
        background-color: #ff5c57;
        padding: 0 3px;
      }
      .hacker {
        background-color: #4aa0be;
        padding: 0 3px;
      }
      .adventurer{
        background-color: #f9c732;
        padding: 0 3px;
      }
    }
  }

}

