#homepage.row
  .wrapper_left.col-lg-3.col-3.col-sm-12
    .content_left.col-12
      %image{src: 'http://placehold.it/150x150'}
      %p.name Joe Gesualdo
  .wrapper_right.col-lg-9.col-9.col-sm-12
    .box.col-12
      .content
    .box.col-12
      .content
    .box.col-12
      .content
    .box.col-12
      .content




