#homepage
  .row
    .splash.col-12
      .intro
        %p.center
          Hi, I'm
          %span.name Joe
          a
          %span.hacker hacker
          &
          %span.adventurer adventurer






