#resume.row
  %article.contact.col-lg-12
    %h1 Joe Gesualdo
    %h3 joegesualdo@gmail.com
    %h3 732-977-9718

  %article.objective.col-lg-12
    %h1 Objective
    %p
      To build timeless, dynamic web products; to have fun, remain challenged,
      and learn new things.
  %article.company_type.col-lg-12
    %h1 Job Type
    %p
      Looking to join a startup or a company with a startup environment. A place that
      moves fast and where the team is passionate, smart, ambitious, fun and who love working
      together. Having both started my own business and worked at a stable fortune 500 company,
      I both understand and thrive off the opportunities and challenges that come with working
      at an early stage startup.
  %article.experience.col-lg-12
    %h1 Experience
    .homespree
      %h3= link_to "Homespree, Inc", 'http://www.myhomespree.com'
      %h5 Founder & COO
      %ul
        %li Developed online platform to radically improve the process of purchasing home services
        %li Built architecture for myhomespree.com using Ruby on Rails, as well as many other technologies
        %li Won 1st place out of 300 entrepreneurs at NYC Startup Weekend for business plan judged by industry-leading venture capitalists
    .pwc
      %h3 PwC
      %h5 Valuation Associate
      %ul
        %li Determined the value of the Merger and Acquisition targets of our clients
        %li Performed purchase price allocations, valued intangible assets and tested goodwill for impairment using various valuation methods: Discounted Cash Flow (DCF) method, Guideline Public Company Method, and Guideline Transactions method
        %li Executed industry research, delved into the financials of target companies and develop complex financial models to value our clients' targets
  %article.education.col-lg-12
    %h1 Education
    %h3 The College of New Jersey
    %h5 Bachelors of Science, Finance
    %ul
      %li 3.62 GPA, Cum Laude, Honors
  %article.tech_skills.col-lg-12
    %h2 Technical Skills
    Ruby on Rails, Backbone.js, Twitter Bootstrap
    HTML, HAML, CSS, SASS, Javascipt, Coffescript, JQUERY, AJAX, Responsive design, Git, RSpec, Capybara, Guard,
    Heroku, BASH, ZSH, Ruby
